.footer {
    height: 100%;
    max-height: 377px;
    background-color: $color-name2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animation {
    a {
        position: relative;
        display: block;
    }
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease;
    }
    
    .default-img {
        opacity: 1;
        z-index: 1;
    }
    
    .hover-img {
        opacity: 0;
        z-index: 2;
    }
    
    &:hover {
        .default-img {
            opacity: 0;
        }
        
        .hover-img {
            opacity: 1;
        }
    }
}


.imgWomen2 {
    margin-left: 32px;
    width: 349px;
    height: 217px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;


    .fullLogo2 {
        margin-top: 20px;
        display: flex;
        gap: 8px;
        letter-spacing: -0.1px;
        transform: scale(0.97);

        img {
            transform: scale(0.9);
        }
    }
}

.block-13{
    margin-top: -31px;
    margin-right: -32px;
}

.info2 {

    & :nth-child(2) {
        margin-left: -5px;
    }

    & :nth-child(3) {
        margin-left: -5px;
    }
}

.textInfo2 {
    text-decoration: none;
    color: $color-name;
    font-family: $fontNameReg;
    font-size: 14px;
    margin-right: 21.5px;
    letter-spacing: -4%;
}

.block-14 {
    margin-top: -17px;
}

.snoskainfo2{
    margin-right: 32px;
    width: 184px;
    height: 200px;
}

.footerIcons {
    display: flex;
    gap: 64px;
}

.facebookIcon {
    @extend .animation
}

.instaIcon {
    @extend .animation
}

.YTicon {
    @extend .animation
}

.phoneNum {
    font-family: $fontNameReg;
    color: $color-name;
    line-height: 24px;
    font-size: 18px;
    padding-top: 83.4px;
}

.adress {
    font-family: $fontNameReg;
    color: $color-name;
    letter-spacing: -2%;
    font-size: 18px;
    line-height: 24px;
    padding-top: 21px;
    text-align: left;
}